[Unit]
Description=Alarm Notifier
Wants=postgresql.service activemq.service
After=postgresql.service activemq.service


[Service]
Restart=always
RestartSec=5
Type=simple
WorkingDirectory=/scripts
ExecStart=/bin/bash /scripts/run-alarm-notifier.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target