[Unit]
Description=EPICS Archiver Appliance
Wants=mysql.service
After=mysql.service


[Service]
Restart=always
RestartSec=5
Type=forking
WorkingDirectory=/epics-archiver-appliance
ExecStart=/bin/bash /scripts/run-gateway.sh
ExecStop=/bin/bash /scripts/sampleStartup.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target